html{
    background-color: #e4e9fd;
    background-image: -webkit-linear-gradient(65deg,#a683e3 50%,#e4e9fd 50%);
    min-height: 1000px;
    font-family: 'helvetica-neue';
}

h1{
    color: #fff;
    padding: 10px;
}

#heading{
    background-color: #a683e3;
    text-align: center;
}

.box{
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    border-radius: 5px;
}

.item{
    min-height: 70px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #f1f1f1;
}

.item.last-child{
    border-bottom: 0px;
}